#hm,#appp,#gmmm,#lbbb,#hppp{
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 40px;
    left: -70px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #222831;
}
#appp{
    top: 60px;
    left: -68px;
    width: auto;
}
#gmmm{
    top: 80px;
    left: -71px;
    padding-left: 2px;
    padding-right: 0px;
    width: auto;
}
#lbbb{
    top: 200px;
    left: -75px;
    padding-left: 3px;
    padding-right: 0px;
    width: auto;
}
#hppp{
    top: 220px;
    left: -74px;
    padding-right: 4px;
    padding-top: 2px;
    width: auto;
}
#home,#app,#game,#library,#more{
    font-size: 20px;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#sidebar{
    border-right: 2px  solid black;
    width: 20px;
    height: 650px;
    position: relative;
    top: 50px;
}
.btn.dropdown-toggle::after {
    display: none;
}
#moremenu{
    background-color: #22283172;
    color: #EEEEEE;
    border-radius: 4px;
    justify-content: center;
    height: 180px;
    width: 180px;
}
.dropdown-menu li{
    margin-top: 10px;
    color: #EEEEEE;
}
.dropdown-menu li:hover{
    background-color: #eeeeee;
    color: #222831; 
}
#link{
    text-decoration: none;
}

#appp:hover,#gmmm:hover,#lbbb:hover,#hppp:hover{
    box-shadow: 2px 3px 4px;
    border-radius: 0px;
}