#myplot{
    width:100%;
    max-width:700px;
}
.card-title{
    font-size: 35px;
}
.container{
    margin-top: 30px;
    margin-bottom: 30px;
}
.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#hsearch{
    margin-left: 100px;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    top: -90px;
    left: 290px;
    font-size: 16px;
    background-color: #fcfafa9a;
    color: black;
}
#hsearchicon{
    position: relative;
    left: 250px;
    top: -90px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: black;
}
#hosfilter{
    background-color: transparent;
    color: #EEEEEE;
    width: 120px;
    border: none;
    position: relative;
    left: 230px;
    top: -20px;
    height: 30px;
    font-size: 18px;
}
#hhrfilter{
    position: relative;
    top: -38px;
    left: 230px;
    width: 120px;
}
#hosfilter option{
    background-color: #31363F;
    color: #EEEEEE;
}
#anav{
    position: relative;
    left: 80px;
    top: -20px;
}
#carouselExampleIndicators{
    position: relative;
    top: -40px;
}

#homedetails{
    position: relative;
    top: -200px;
}

#subbb{
    height: 400px;
    width: 1000px;
    position: relative;
    left: 220px;
}