#div2 {
    margin-top: -600px;
}

#second_div {
    background-color: #22283144;
    margin: 0 auto;
    height: 700px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px;
    position: relative;
    top: 10px;
}

#img111, #head1, #head2, #btn2, #lab1, #para1, #lab2, #para2, #lab3 {
    position: relative;
    top: 50px;
}

#img111 {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

#img2 {
    height: 180px;
    width: auto;
    position: relative;
    top: -60px;
}

#btn2 {
    height: 40px;
    width: 100px;
    background-color: #31363F;
    color: #EEEEEE;
    font-weight: bold;
    top:20px
}

#btn2:hover {
    background-color: #EEEEEE;
    color: #31363F;
    box-shadow: 2px 3px 4px;
}

#lab3 {
    background-color: #31363f71;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

#btn333, #btn4444, #btn555 {
    background-color: #31363f71;
    color: white;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    position: relative;
    top: 105px;
}

#btn4444 {
    margin-left: 10px;
}

#btn555 {
    position: relative;
    top: 140px;
}

#flag {
    margin-right: 10px;
}

#btn333:hover, #btn4444:hover, #btn555:hover {
    background-color: #EEEEEE;
    color: #31363F;
}

#third_div {
    background-color: #22283144;
    margin: 10px auto;
    width: 100%;
    max-width: 850px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 3px 4px;
    position: relative;
    top: 0px;
}

#subdiv2, #subdiv3, #subdiv4, #subdiv5, #subdiv6,#subdivv {
    background-color: #31363F;
    border-radius: 10px;
    margin: 10px auto;
    width: 95%;
}

#subdiv2 {
    height: 250px;
    color: #EEEEEE;
}

#subdiv3 {
    max-height: 100vh;
    height: 250px;
    color: #EEEEEE;
}

#subdiv4 {
    height: 350px;
    color: #EEEEEE;
}

#subdiv5 {
    height: 350px;
    color: #EEEEEE;
    margin-bottom: 10px;
}

#subdivv{
    height: 350px;
    color: #EEEEEE;
    overflow-x: auto;
}

#imghr, #deschr, #srhr, #addihr,#rathr {
    width: 100%;
    position: relative;
    left: 0px;
    top: -30px;
}

#divh, #divh1, #divh2 {
    font-size: 20px;
    font-weight: bold;
    color: #EEEEEE;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 10px;
}

.star {
    color: yellow;
    font-size: 20px;
}

#review-section {
    max-height: 300px;
    margin-top: 20px;
}

.review {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.review:last-child {
    border-bottom: none;
}

.star-rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: yellow;
}

.star-rating span p{
    color: #EEEEEE;
}

.star-rating .star-count {
    margin-left: 10px;
    font-weight: bold;
}

#head111{
    position: relative;
    top: 30px;
}
#head222{
    position: relative;
    top: 5px;
}

.average-rating{
    position: relative;
    top: -50px;
    left: -270px;
}
.review div,.review p{
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: row;
}

.review h6{
    position: relative;
    left: -350px;
}

.star-rating{
    position: relative;
    left: 10px;
    top: -30px;
}
.star-rating span p{
    position: relative;
    left: 5px;
    top: 10px;
}